[submodule "vendor/boardgame.io"]
	path = vendor/boardgame.io
	url = https://github.com/cyotee/boardgame.io
[submodule "vendor/boardgameIO-p2p"]
	path = vendor/boardgameIO-p2p
	url = https://github.com/cyotee/boardgameIO-p2p
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
